body {
    font-family: 'Poppins', sans-serif;
}
.project-link {
    font-size: 1.1em;
    display: inline-block;
    border: 1px solid lightskyblue;
    border-radius: 14px;
    padding: 10px;
    margin: 10px;
    color: inherit;
    text-decoration: inherit;
}